:root 
{
--col-indent:24px;
--row-indent:var(var(--col-indent));
--items:4;
--items-p:3;
}
body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
}
header{
    
    border-bottom: 1px solid #e7e9fc;
}

.container 
{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}

/* Сітка1*/
.card-set {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-indent);
    column-gap: var(--col-indent);
}

.card-set-item {
    width: calc((100% - var(--col-indent) * (var(--items) - 1)) / var(--items));
}

/* Сітка2*/

.card-set-item-portfolio {
    width: calc((100% - var(--col-indent) * (var(--items-p) - 1)) / var(--items-p));
}

.header-top .container {
    display: flex;
    align-items: center;
}
    
.header-nav
{
    display: flex;
    align-items: center;
    flex-grow: 1;  

}
h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
}
ul, ol
{
    margin: 0;
    padding-left: 0;
}
a{
    font-style: normal;
    text-decoration-line: none;
}
li{
    list-style-type: none;
}
img
{
    display: block;
}
.nav-logo{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
    
}
.nav-logo-studio{
    color: #2e2f42;
    
   

}
.nav-list{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.nav-link
{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active
{
    color: #404bbf;
}
.contacts
{
    font-style: normal;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-link{
    display: flex;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
   
}
.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active
{
    color: #404bbf;
}

.contacts-list
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    
    
    
}

.hero
{
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero .container
{
    display: flex;
    flex-direction: column;
   
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  
   
    
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    padding-bottom: 48px;
   
}
.hero-button{
    display: block;
    font-family: inherit;
    background-color: #4D5AE5;
    /*border-color: rgba(77,89,229, 0);*/
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none
    
}
.hero-button:hover,
.hero-button:focus,
.hero-button:active
{
    background-color: #404bbf;
}
.features-title {
    color: rgb(0, 0, 0, 0)
}

.features-list
{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.features-item
{
    width: 264px;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-text
{
    line-height: 1.5;
    letter-spacing: 0.02em;
  
}
.team
{
    background-color: #f4f4fd;
}
.team .container
{
    display: flex;
    flex-direction: column;
    
}

.team-text-container
{
    display: block;
    background-color: #FFFFFF;
    padding-top: 32px;
    margin: 0;
    
    padding-bottom: 32px;
    
}
.team-title
{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;

}
.team-list
{
    display: flex;
    gap:24px;
    border-radius: 0 0 4px 4px;
}
.team-item
{
    text-align: center;
    margin-right:0;
    border-radius: 0 0 4px 4px;
    
}
.team-subtitle
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text
{
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}

.portfolio
{
    background-color:#FFFFFF;
}
.portfolio .container
{
    display: flex;
    flex-direction: column;
}
.portfolio-item
{
    text-align: center;
    
}
.portfolio-list
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;  
}

.portfolio-title 
{  
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-text-container 
{
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}
.portfolio-subtitle
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: start;
    margin-bottom: 8px
}
.portfolio-text
{
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: start;
}
.cellar
{
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cellar-logo
{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0px;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-bottom: 16px;    
}

.cellar-logo-studio
{
    color: #f4f4fd;
}
.cellar-text
{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.cellar .container
{
    flex-direction: column;
    align-items: flex-start;
}

.team-image
{
    display: block;
    max-width: 100%;
    height: auto;
    
}

.visually-hidden 

{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: 0;
    outline-offset: 0;
}

.features, .team, .portfolio
{
    padding-top: 120px;
    padding-bottom: 120px;
}